*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body{
  display: block;
  margin:10px;
  padding: 0;
  font-family: Trebuchet MS;
  background-image: url(../img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;


}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}

nav.black{
  background: rgba(0, 0, 0, 0.8);
  height: 100px;
  padding: 10px 100px;
}


nav.logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
}

nav.black .logo {
  color: #ffff;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}


nav ul li{
  list-style: none;

}

nav ul li a {
  line-height: 80px;
  color:white;
  padding:12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.black ul li a {
color: white;
}

nav ul li a:focus {
  outline: none;
}

nav ul li a.active {
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}

section.sec1{
  height: 120vh;
     background:url("../img/imag.jpg") left no-repeat;
	
}

#inc{
	text-align: left;
	color: black;
	padding-left: 300px;
	padding-right: 330px;
  margin-top: -825px;
  font-size: 22px;
}


#inc h1{
	text-align: center;
	margin-left:300px;
	margin-right: 330px;
  color: gray;
}

#inc p{
	
  font-weight: bold;
  color: white		;
  padding-top: 20px;
}


#footer{
	margin-top: 40px;
	margin-left:624px;
	margin-right: 632px;
	border-width: 2px;
	 border-style: double;
	 border-color: DarkGray;
	
}
#footer .in li::before{
	content:"|";
	color:white;
	padding-left:10px;
	padding-right:10px;
}

#footer div.in li{
	display:inline;
	 
}

#footer li{
	 
}
#footer .in ul li {
	font-size:16px;
	position:relative;
	color: Red;
	
}
